h5{
	text-align: right;
}
table, th, td {
  border: 1px solid black;

}
table {
  border-spacing: 5px;
  
  
}

h1{
	text-align: center;	
}
th{
	font-size: 20px;

	padding-top: 5px;
	padding-bottom: 5px;
	color: #dfe6e9;
	background-color: #2d3436;
}
td{
	font-size: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	color: black;
	background-color:#dfe6e9;
}
button{
	font-size: 9px;
  }
a{
  text-decoration: none;
  text-decoration-color: black;
}
td:hover {
	background-color:#a5b1c2;
}
tr:nth-child(even){
	background-color: #778ca3;
}